body
{
  background-color:rgb(67, 4, 4 );
  font-family:"Century Gothic";
}

/* containers grids*/

.container
{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 50% 48%;
  grid-template-rows:210px 450px 170px;
  grid-gap:20px;
  grid-template-areas: "header header" "new about" "footer footer";
  background-color: rgba(100%,100%,100%,0.3);
}

.containerEng
{
width:100%;
height:100%;
display:grid;
grid-template-columns: 33% 33% 30%;
grid-template-rows:210px 300px 170px;
grid-gap:20px;
grid-template-areas: "header header header" "modern classic author" "footer footer footer";
background-color: rgba(100%,100%,100%,0.3);
}

.containernovel{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 33% 33% 31%;
  grid-gap:20px;
  grid-template-areas: "header header header" "plot plot image" "mycast urcast more" "footer footer footer";
  background-color: rgba(100%,100%,100%,0.3);
}

/* grid areas */

#new{
    grid-area:new;
}

#about{
  grid-area:about;
}

#modern{
  grid-area:modern;
}

#classic{
  grid-area:classic;
}

#author{
  grid-area:author;
}

#plot{
  grid-area:plot;
  overflow-y:auto;
}

#image{
  grid-area:image;
}

#mycast{
  grid-area:mycast;
  overflow-y:auto;
}

#urcast{
  grid-area:urcast;
  overflow-y:auto;
}

#more{
  grid-area:more;
  overflow-y:auto;
}

#new,#about,#modern,#classic,#author,#plot,#mycast,#urcast,#more{
  margin:10px;
  border: dotted white;
  padding-left:10px;
  padding-right:10px;
  overflow-y:auto;
}


/* header & footer stylings */

header h1
{
  font-size:350%;
  text-align: center;
  line-height:10%;
  color: rgb(234, 209, 5);
}

header h6
{
  font-size:100%;
  text-align: center;
  line-height: 10%;
  text-transform: capitalize;
}

header
{
  grid-area: header;
  margin:10px;
  color: rgb(234, 209, 5);
}

footer
{
  grid-area:footer;
  margin:10px;
  border: dotted white;
  padding:10px;
}


/*pop boxes */

#popper1,#popper2,#popper3
{
  z-index:10;
  position:fixed;
  top:25%;
  left:25%;
  text-align:center;
  background-color:rgb(234, 209, 5);
  width:50%;
  margin:auto 0;
  display:none;
}

.close{
  background-color:rgb(234, 209, 5);
  color:white;
  font-weight: bold;
  display:inline-block;
  float:right;
  border-style: solid;
}

#about h5:hover
{
  color:yellow;
}


/* other elements*/

h5
{
  color:white;
  font-size:200%;
  font-weight:bold;
  margin:0;
  margin-top:10px;
}


table
{
  margin: 15px auto;
  background-color:rgba(255,255,255,0.8);
}

a
{
  text-decoration: none;
  color: black;
}

p
{
  font-size:120%;
  font-weight:bold;
}

li{
  line-height:30px;
}
ol{
  list-style: circle;
}

#more ol
{
  font-size:150%;
}

/* what's new*/

#new a:hover, #new a h5:hover
{
  color:yellow;
}

/*view more*/

.more
{
  display:none;
}

.clickForMore
{
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  font-family:"Century Gothic";
}

.clickForMore:hover
{
  background-color:yellow;
}

/*nav bar styling*/

nav ul{
text-align:center;
list-style: none;
}

nav > ul > li{
display:inline-block;
margin-right:-13px;
padding-right:3px;
height:30px;
}

nav >ul > li > a
{
  border-left:rgb(255,255,255) solid 3px;
  margin:auto 0;
  padding-left:5px;
  padding-right:5px;
}

nav > ul > li:first-child > a
{
  border-left:none;
}

nav
{
font-size:230%;
background-color:rgba(100%,100%,100%,0.7);
}

li ul {
display:none;
}


/* hovering over naivgation*/

nav > ul > li:hover, nav > ul > li > ul > li:hover
{
  background-color:rgb(234, 209, 5);
}

nav > ul > li:hover > a, nav > ul > li > ul > li:hover > a
{
  font-weight:bold;
  color: rgb(255,255,255);
  background-color: rgb(234, 209, 5);
}

li:hover ul
{
display:block;
position:absolute;
width:inherit;
font-size:60%;
background-color:rgba(255,255,255,0.9);
color:rgb(151,14,128);
text-align:left;

padding-left:4px;
margin-top:0.5%;

}

nav li ul li {
   display: block;
   font-size: 120%;
   line-height:50px;
   font-style: italic;
 }

/* links */

a:link
{
  font-weight:bold;
  color: rgb(0,0,0);
}

a:hover
{
  font-weight:bold;
  color: rgb(255,255,255);
  background-color: rgb(234, 209, 5);
}

a:visited
{
  font-weight:bold;
  color: rgb(0,0,0);
}

nav li a.active
{
  font-weight:bold;
  color: rgb(255,255,255);
  background-color: rgb(234, 209, 5);
}

table
{
  background-color:rgba(255,255,255,0.5);
  border-radius: 25px;
  border-collapse:collapse;
  border-style: hidden;
}

th
{
  font-size: 150%;
  padding:5px;
}

td
{
  font-size: 150%;
  padding:5px;
}

td img
{
  border-radius: 25px;
}

#urcast td
{
  padding-top: 20px;
  padding-bottom: 50px;
}

#urcast input, button
{
  border-radius:5px;
  border-style:hidden;
  margin:5px;
}

#urcast button
{
  font-family: inherit;
  text-transform: uppercase;
}

#urcast button:hover
{
  color: rgb(255,255,255);
  background-color: rgb(234, 209, 5);
}

a:hover
{
  font-weight:bold;
  color: rgb(255,255,255);
  background-color: rgb(234, 209, 5);
}

.results, #urcast
{
  table-layout: fixed;
  width: 90%;
  padding-bottom:-20%;
}

.results td
{
  width: 100%;
}
